li {
    margin-right: 10px;

}
img {
    width: 100%;
    height: auto;

}
.row {
padding-bottom: 20px;
}
.jumbotron {
    margin-top: 70px;
    color: #2c3e50;
    background: #ecf0f1;
}
.navbar {
    background: #2c3e50;

}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-text {
    color: white;
}
.navbar-toggler {
    margin-left: auto;
}
